.vscode/
bin/
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile

algoritms/CMakeFiles/
algoritms/Makefile
algoritms/*.cmake
algoritms/sorting/CMakeFiles/
algoritms/sorting/Makefile
algoritms/sorting/*.cmake
algoritms/dynamic-programming/CMakeFiles/
algoritms/dynamic-programming/Makefile
algoritms/dynamic-programming/*.cmake


data-structures/CMakeFiles/
data-structures/Makefile
data-structures/*.cmake
data-structures/dynamic-array/CMakeFiles/
data-structures/dynamic-array/Makefile
data-structures/dynamic-array/*.cmake