.vscode/
bin/
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
TODO

algoritms/CMakeFiles/
algoritms/Makefile
algoritms/*.cmake
algoritms/sorting/CMakeFiles/
algoritms/sorting/Makefile
algoritms/sorting/*.cmake

data-structures/CMakeFiles/
data-structures/Makefile
data-structures/*.cmake
data-structures/dynamic-array/CMakeFiles/
data-structures/dynamic-array/Makefile
data-structures/dynamic-array/*.cmake